@model StokTakip_Deneme_.Models.Entity.Kategoriler

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Ekleme</h2>

<div class="container">
    <form method="post" action="/Kategoriler/Ekle2">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="Kategori">Kategori</label>
            <input type="text" id="Kategori" name="Kategori" class="form-control" />

        </div>
        @Html.ValidationMessageFor(x => x.Kategori, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="Aciklama">Açıklama</label>
            <textarea id="Aciklama" name="Aciklama" class="form-control"></textarea>
        </div>
        @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })
        <div class="form-group">
            <button type="submit" class="btn btn-success">Kategori Ekle</button>
        </div>
    </form>
</div>
